.goofball {
  height:300px;
  width: 300 px;
}
.intro {
  border: double; color: black;
  font-family:"times new roman";
  height: 350 px;
  width: 350px;
  margin: 0 auto;

}
body {
  text-align: center;
  background-color: #c99f9f;
}