.goofball {
  height:300px;
  width: 300 px;
}

.intro {
  border: double; color: black;
  font-family:"times new roman";
  height: 390px;
  width: 370px;
  margin: 0 auto;
}

body {
  text-align: center;
  background-color: #c99f9f;
}

.project {
  border: double; color: black;
  height: 250px;
  text-align: center;
  font-family: georgia;
}

ul {
  list-style-position:inside;
}
h2 {
  color: black;
}
span {
  background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.about {
  float: left;
}

ol {
  list-style-position:inside;
}

.about1 {
margin-right: 200px;
margin-left: 200px;
}
.background { 
  border: double; color: black;
  text-align: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  font-family: georgia;
  
}
.contact {
  float: right;
}

