.goofball {
  height:300px;
  width: 300 px;
}

.intro {
  border: double; color: black;
  font-family:"times new roman";
  height: 390px;
  width: 370px;
  margin: 0 auto;
}

body {
  text-align: center;
  background-color: #c99f9f;
}

.project {
  border: double; color: black;
  height: 250px;
  text-align: center;
}

ul {
  list-style-position:inside;
}
h2 {
  color: black;
}
span {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.about {
  float: left;
}

